<a href="https://colab.research.google.com/github/IagoVnicius/statistic_python/blob/main/Estimativas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***
# <font color=green size=10>CURSO DE ESTATÍSTICA - PARTE 2</font>
***

## Trabalho sobre Probabilidades, Amostragem e Estimações

Utilizando os conhecimentos adquiridos em nosso treinamento execute as tarefas abaixo. Siga o roteiro proposto e vá completando as células vazias.

# <font color=green>DATASET DO PROJETO</font>
***

### Pesquisa Nacional por Amostra de Domicílios - 2015

A <b>Pesquisa Nacional por Amostra de Domicílios - PNAD</b> investiga anualmente, de forma permanente, características gerais da população, de educação, trabalho, rendimento e habitação e outras, com periodicidade variável, de acordo com as necessidades de informação para o país, como as características sobre migração, fecundidade, nupcialidade, saúde, segurança alimentar, entre outros temas. O levantamento dessas estatísticas constitui, ao longo dos 49 anos de realização da pesquisa, um importante instrumento para formulação, validação e avaliação de políticas orientadas para o desenvolvimento socioeconômico e a melhoria das condições de vida no Brasil.

### Fonte dos Dados

https://ww2.ibge.gov.br/home/estatistica/populacao/trabalhoerendimento/pnad2015/microdados.shtm

### Variáveis utilizadas

> ### Renda
> ***

Rendimento mensal do trabalho principal para pessoas de 10 anos ou mais de idade.

> ### Idade
> ***

Idade do morador na data de referência em anos.

> ### Altura (elaboração própria)
> ***

Altura do morador em metros.

> ### UF
> ***

|Código|Descrição|
|---|---|
|11|Rondônia|
|12|Acre|
|13|Amazonas|
|14|Roraima|
|15|Pará|
|16|Amapá|
|17|Tocantins|
|21|Maranhão|
|22|Piauí|
|23|Ceará|
|24|Rio Grande do Norte|
|25|Paraíba|
|26|Pernambuco|
|27|Alagoas|
|28|Sergipe|
|29|Bahia|
|31|Minas Gerais|
|32|Espírito Santo|
|33|Rio de Janeiro|
|35|São Paulo|
|41|Paraná|
|42|Santa Catarina|
|43|Rio Grande do Sul|
|50|Mato Grosso do Sul|
|51|Mato Grosso|
|52|Goiás|
|53|Distrito Federal|

> ### Sexo	
> ***

|Código|Descrição|
|---|---|
|0|Masculino|
|1|Feminino|

> ### Anos de Estudo
> ***

|Código|Descrição|
|---|---|
|1|Sem instrução e menos de 1 ano|
|2|1 ano|
|3|2 anos|
|4|3 anos|
|5|4 anos|
|6|5 anos|
|7|6 anos|
|8|7 anos|
|9|8 anos|
|10|9 anos|
|11|10 anos|
|12|11 anos|
|13|12 anos|
|14|13 anos|
|15|14 anos|
|16|15 anos ou mais|
|17|Não determinados| 
||Não aplicável|

> ### Cor
> ***

|Código|Descrição|
|---|---|
|0|Indígena|
|2|Branca|
|4|Preta|
|6|Amarela|
|8|Parda|
|9|Sem declaração|

#### <font color='red'>Observação</font>
***
> Os seguintes tratamentos foram realizados nos dados originais:
> 1. Foram eliminados os registros onde a <b>Renda</b> era inválida (999 999 999 999);
> 2. Foram eliminados os registros onde a <b>Renda</b> era missing;
> 3. Foram considerados somente os registros das <b>Pessoas de Referência</b> de cada domicílio (responsável pelo domicílio).

***
***

### Utilize a célula abaixo para importar as bibliotecas que precisar para executar as tarefas
#### <font color='red'>Sugestões: pandas, numpy, scipy etc.</font>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from scipy.stats import binom
from scipy.stats import norm

### Importe o dataset e armazene o conteúdo em uma DataFrame

In [ ]:
dados = pd.read_csv('dados.csv')
dados

       UF  Sexo  Idade  Cor  Anos de Estudo  Renda    Altura
0      11     0     23    8              12    800  1.603808
1      11     1     23    2              12   1150  1.739790
2      11     1     35    8              15    880  1.760444
3      11     0     46    2               6   3500  1.783158
4      11     1     47    8               9    150  1.690631
...    ..   ...    ...  ...             ...    ...       ...
76835  53     1     46    2              11    812  1.687030
76836  53     0     30    4               7   1500  1.792934
76837  53     0     32    8              12   1300  1.830587
76838  53     0     57    8               4   1500  1.726344
76839  53     0     38    8               4    900  1.658305

[76840 rows x 7 columns]

### Visualize o conteúdo do DataFrame

In [ ]:
dados.head()

   UF  Sexo  Idade  Cor  Anos de Estudo  Renda    Altura
0  11     0     23    8              12    800  1.603808
1  11     1     23    2              12   1150  1.739790
2  11     1     35    8              15    880  1.760444
3  11     0     46    2               6   3500  1.783158
4  11     1     47    8               9    150  1.690631

# <font color='green'>Problema A</font>

Avaliando nosso dataset é possível verificar que a **proporção de homens** como chefes de domicílios é de quase **70%**. Precisamos **selecionar aleatoriamente grupos de 10 indivíduos** para verificar as diferenças entre os rendimentos em cada grupo. Qual a **probabilidade de selecionamos um grupo que apresente a mesma proporção da população**, ou seja, selecionarmos um grupo que seja **composto por 7 homens e 3 mulheres**?

#### Como tarefa extra, verifique a real proporção de homens e mulheres em nosso dataset (vimos como fazer isso em nosso primeiro curso de estatística).

#### Verifique que tipo de distribuição de probabilidade se encaixa neste experimento.

### Solução

In [ ]:
k = 7
k

7

In [ ]:
n = 10
n

10

In [ ]:
p = 0.7

In [ ]:
probabilidade = binom.pmf(k, n, p)
print("{:.2f}%".format(probabilidade * 100))

26.68%

In [ ]:
frequencia = dados.Sexo.value_counts()
frequencia

0    53250
1    23590
Name: Sexo, dtype: int64

In [ ]:
percentual = dados.Sexo.value_counts(normalize = True) * 100
percentual

0    69.299844
1    30.700156
Name: Sexo, dtype: float64

In [ ]:
dist_freq_sexo = pd.DataFrame({'Frequência': frequencia, 'Porcentagem(%)': percentual})
dist_freq_sexo.rename(index = {0: 'Masculino', 1: 'Feminino'}, inplace = True)
dist_freq_sexo

           Frequência  Porcentagem(%)
Masculino       53250       69.299844
Feminino        23590       30.700156

# <font color='green'>Problema B</font>

Ainda sobre a questão anterior, **quantos grupos de 10 indivíduos** nós precisaríamos selecionar, de forma aleatória, para conseguir **100 grupos compostos por 7 homens e 3 mulheres**?

#### <font color='red'>Lembre-se da forma de cálculo da média de uma distribuição binomial</font>

### Solução

$$\mu = n \times p$$

media = n * p

n = media / p

In [ ]:
n = 100 / probabilidade
int(n.round())

375

# <font color='green'>Problema C</font>

Um cliente nos encomendou um estudo para avaliar o **rendimento dos chefes de domicílio no Brasil**. Para isso precisamos realizar uma nova coleta de dados, isto é, uma nova pesquisa de campo. Após reunião com o cliente foi possível elencar o seguinte conjunto de informações:

> A. O resultado da pesquisa precisa estar pronto em **2 meses**;

> B. Teremos somente **R$\$$ 150.000,00** de recursos para realização da pesquisa de campo; e
    
> C. Seria interessante uma **margem de erro não superior a 10% em relação a média estimada**.

Em nossa experiência com estudos deste tipo, sabemos que o **custo médio por indivíduo entrevistado fica em torno de R$\$$ 100,00**. Com este conjunto de fatos avalie e obtenha o seguinte conjunto de informações para passar ao cliente:


> 1. Para obter uma estimativa para os parâmetros da população (renda dos chefes de domicílio no Brasil), realize uma amostragem aleatória simples em nosso conjunto de dados. Essa amostra deve conter 200 elementos (utilize random_state = 101 para garantir que o mesmo experimento posso ser realizado novamente). Obtenha a média e o desvio-padrão dessa amostra.
    
> 2. Para a **margem de erro** especificada pelo cliente obtenha os **tamanhos de amostra** necessários para garantir os **níveis de confiança de 90%, 95% e 99%**.
    
> 3. Obtenha o **custo da pesquisa** para os três níveis de confiança.
    
> 4. Para o maior nível de confiança viável (dentro do orçamento disponível), obtenha um **intervalo de confiança para a média da população**.
    
> 5. Assumindo o **nível de confiança escolhido no item anterior**, qual **margem de erro** pode ser considerada utilizando todo o recurso disponibilizado pelo cliente?
    
> 6. Assumindo um **nível de confiança de 95%**, **quanto a pesquisa custaria ao cliente** caso fosse considerada uma **margem de erro de apenas 5%** em relação a média estimada?

# <font color='blue'>Solução do item 1</font>

### Seleção de uma amostra aleatório simples

#### <font color='red'>Lembre-se de utilizar *random_state = 101*</font>

In [ ]:
amostra = dados['Renda'].sample(n = 200, random_state = 101)
amostra

29042     480
62672     250
29973     788
22428    1680
55145    2500
         ...
50497    3400
3668      780
4872     1000
38670    1000
71730     600
Name: Renda, Length: 200, dtype: int64

### Dados do problema

In [ ]:
media_amostra = amostra.mean()
media_amostra

1964.205

In [ ]:
desvio_amostra = amostra.std()
desvio_amostra

3139.8855167452093

In [ ]:
recursos = 150000
custo = 100

# <font color='blue'>Solução do item 2</font>

### Obtenha a margem de erro

#### <font color='red'>Lembre-se que a margem de erro deve estar na mesma unidade da variável que está sendo estudada (R$)</font>

In [ ]:
e = 0.10 * media_amostra
print("A margem de erro é R${:.2f} para mais ou para menos".format(e))

A margem de erro é R$196.42 para mais ou para menos

### Tamanho da amostra ($1 - \alpha = 90\%$)

In [ ]:
z_90 = norm.ppf(0.5 + (0.9 / 2))
z_90

1.6448536269514722

In [ ]:
n_90 = int((z_90 * (desvio_amostra / e)) ** 2)
print("Para garantir um nível de confiança de 90%, devemos selecionar uma amostra de {} elementos".format(n_90))

Para garantir um nível de confiança de 90%, devemos selecionar uma amostra de 691 elementos

### Tamanho da amostra ($1 - \alpha = 95\%$)

In [ ]:
z_95 = norm.ppf(0.5 + (0.95 / 2))
z_95

1.959963984540054

In [ ]:
n_95 = int((z_95 * (desvio_amostra / e)) ** 2)
print("Para garantir um nível de confiança de 95%, devemos selecionar uma amostra de {} elementos".format(n_95))

Para garantir um nível de confiança de 95%, devemos selecionar uma amostra de 981 elementos

### Tamanho da amostra ($1 - \alpha = 99\%$)

In [ ]:
z_99 = norm.ppf(0.5 + (0.99 / 2))
z_99

2.5758293035489004

In [ ]:
n_99 = int((z_99 * (desvio_amostra / e)) ** 2)
print("Para garantir um nível de confiança de 99%, devemos selecionar uma amostra de {} elementos".format(n_99))

Para garantir um nível de confiança de 99%, devemos selecionar uma amostra de 1695 elementos

# <font color='blue'>Solução do item 3</font>

### Custo da pesquisa para o nível de confiança de 90%

In [ ]:
custo_90 = custo * n_90
print("O custo para realizar uma pesquisa com nível de confiança de 90% é de R${:.2f}".format(custo_90))

O custo para realizar uma pesquisa com nível de confiança de 90% é de R$69100.00

### Custo da pesquisa para o nível de confiança de 95%

In [ ]:
custo_95 = custo * n_95
print("O custo para realizar uma pesquisa com nível de confiança de 95% é de R${:.2f}".format(custo_95))

O custo para realizar uma pesquisa com nível de confiança de 95% é de R$98100.00

### Custo da pesquisa para o nível de confiança de 99%

In [ ]:
custo_99 = custo * n_99
print("O custo para realizar uma pesquisa com nível de confiança de 99% é de R${:.2f}".format(custo_99))

O custo para realizar uma pesquisa com nível de confiança de 99% é de R$169500.00

# <font color='blue'>Solução do item 4</font>

In [ ]:
sigma = desvio_amostra / np.sqrt(n_95)

In [ ]:
intervalo = norm.interval(alpha = 0.95, loc = media_amostra, scale = sigma)
intervalo

(1767.7209049801459, 2160.689095019854)

# <font color='blue'>Solução do item 5</font>

In [ ]:
total_recursos = recursos / custo
total_recursos

1500.0

In [ ]:
n = 1500

In [ ]:
e = z_95 * (desvio_amostra / np.sqrt(total_recursos))
e

158.89721122673703

In [ ]:
e_total = e / media_amostra
print("A nova margem de erro é de {:.2f}%".format(e_total * 100))

A nova margem de erro é de 8.09%

# <font color='blue'>Solução do item 6</font>

In [ ]:
confianca = 0.5 + (0.95 / 2)
confianca

0.975

In [ ]:
z = norm.ppf(confianca)
z

1.959963984540054

In [ ]:
e = 0.05 * media_amostra
print("A margem de erro permitida é de {} para mais ou para menos.".format(int(e)))

A margem de erro permitida é de 98 para mais ou para menos.

In [ ]:
n = ((z * (desvio_amostra / e)) ** 2)
print("A quantidade de elementos necessário é de {}.".format(n_95))

A quantidade de elementos necessário é de 981.

In [ ]:
custo_total = n * custo
print("O custo total para realizar esta pesquisa é de R${:,.2f}".format(custo_total))

O custo total para realizar esta pesquisa é de R$392,654.14